{% extends 'layout.html' %}

<!-- importamos la macros para renderizar los inputs -->
{% from 'helpers/_forms.html' import render_field %}


{% block container %}
    <div class="col-md-12 col-md-offset-1">
        <h3 class="mt-4 mb-4">Login</h3>
        <form method="post">
            <input type="hidden" name="csrf_token" value="{{csrf_token()}}">  <!-- Se genera token para cada formulario -->

            <div class="form-group">
                {{ render_field(form.username, class='form-control', placeholder='Username') }}
            </div>
            <div class="form-group">
                {{ render_field(form.password, class='form-control', placeholder='password') }}
            </div>

            <button type="submit" class="btn btn-primary" name="button">Login</button>
        </form>
    </div>
{% endblock%}