{% extends 'bootstrap/base.html' %}
{% block title%} Error 404 {% endblock %}

{% block navbar %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>404 NOt Found</h2>
            <p>Lo sentimos, ha ocurrido un error, Página no encontrada</p>
        </div>
    </div>
</div>
{% endblock%}