{% extends 'bootstrap/base.html' %}

{% block title %}
    {{title}}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
        <dic class="container">
            <a class="navbar-brand" href="#"></a>
            <div>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Index</a>
                    </li>
                </ul>
            </div>
        </dic>
    </nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% block container%}
        {% endblock%}
    </div>
</div>    
{% endblock %}

